@page
@model HinduTempleofTriStates.Models.CashIncomeExpensesModel

@{
    ViewData["Title"] = "Cash Income & Expenses";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Income</th>
            <th>Expense</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CashTransactions != null && Model.CashTransactions.Any())
        {
            foreach (var entry in Model.CashTransactions)
            {
                <tr>
                    <td>@entry.Date.ToShortDateString()</td>
                    <td>@entry.Description</td>
                    <td>@entry.Income.ToString("C")</td>
                    <td>@entry.Expense.ToString("C")</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No transactions available.</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th>
                @Model.TotalIncome.ToString("C")
            </th>
            <th>
                @Model.TotalExpense.ToString("C")
            </th>
        </tr>
    </tfoot>
</table>
