@model HinduTempleofTriStates.Models.TrialBalanceModel

<h1>Trial Balance Report</h1>

<div class="card">
    <div class="card-body">
        <h4>Total Debits: @Model.TotalDebits.ToString("C")</h4>
        <h4>Total Credits: @Model.TotalCredits.ToString("C")</h4>
        <h4>Net Balance: @Model.NetBalance.ToString("C")</h4>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Debit Total</th>
            <th>Credit Total</th>
            <th>Net Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.TrialBalanceAccounts)
        {
            <tr>
                <td>@account.AccountName</td>
                <td>@account.DebitTotal.ToString("C")</td>
                <td>@account.CreditTotal.ToString("C")</td>
                <td>@account.NetBalance.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
